:root {
  --theme: #ff6600;
  --theme-200: rgba(255, 102, 0, 0.1);
  --theme-dark: rgba(255, 102, 0, 0.473);
  --text: rgba(28, 28, 28, 1);
  --gray-500: #657786;
  --gray-200: rgba(28, 28, 28, 0.25);
  --black: #000;
  --white: #fff;
  --blue-light: #0099ff;
  --input-bg: #f5f8fa;
}
