:root {
  --theme: #ff6600;
  --theme-600: #fd510d;
  --theme-200: rgba(255, 102, 0, 0.1);
  --theme-dark: rgba(255, 102, 0, 0.473);
  --text: rgba(28, 28, 28, 1);
  --gray-500: #657786;
  --gray-400: #9197a3;
  --gray-300: #f6f7f8;
  --gray-200: rgba(28, 28, 28, 0.25);
  --gray-100: rgba(28, 28, 28, 0.1);
  --black: #000;
  --white: #fff;
  --blue-light: #0099ff;
  --input-bg: #f5f8fa;
  --input-placeholder: rgba(0, 0, 0, 0.4);
  --blue-gray-500: #f5f8fa;
  --blue-gray-600: #e6ecf0;
  --blue-gray-900: #ccd6dd;
  --like-color: #e0245e;
  --input-hover-border: #50b5ff;
  --input-error-border: #fc5a5a;
  --success-color: #82c43c;
}
