@import 'reset';
@import 'color';
@import 'toast';

.container {
  min-height: 100vh;
  &--admin,
  &--setting {
    border-left: 1px solid var(--blue-gray-600);
  }
  &--user,
  &--chat {
    border-left: 1px solid var(--blue-gray-600);
    border-right: 1px solid var(--blue-gray-600);
  }
}

@media screen and (min-width: 1440px) {
  .container {
    &--admin,
    &--setting {
      border-right: 1px solid var(--blue-gray-600);
    }
  }
}
