@import 'reset';
@import 'color';

.container {
  min-height: 100vh;
  &--admin,
  &--setting {
    border-left: 1px solid var(--gray-200);
  }
  &--user {
    border-left: 1px solid var(--gray-200);
    border-right: 1px solid var(--gray-200);
  }
}

@media screen and (min-width: 1440px) {
  .container {
    &--admin,
    &--setting {
      border-right: 1px solid var(--gray-200);
    }
  }
}
